<div class="weui-cells__title">
    <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="IMAGE_PATH/office4.jpg" alt="" style="width: 100%;"></div>
            <div class="swiper-slide"><img src="IMAGE_PATH/office5.jpg" alt="" style="width: 100%;"></div>
        </div>
    </div>
</div>
<div id="house-list" class="weui-cells" style="margin-bottom: 80px;">
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><img src="IMAGE_PATH/office1.jpg" alt="" style="width:100px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p class="house">得力（deli） 【公司开业文具包】得力品牌办公文具套装共17款</p>
            <p class="detail">已售200</p>
            <p class="detail">
                <span class="cube">干净</span>
                <span class="cube">9折</span>
                <span class="cube">服务到位</span>
            </p>
            <p class="detail detail-price"><strong>¥&nbsp;128.00</strong><i class="weui-icon-success" style="float: right; display: block;"></i></p>
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><img src="IMAGE_PATH/office2.jpg" alt="" style="width:100px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p class="house">吉丽（G-LEAF） 办公文具用品新进员工行政人员套装19款</p>
            <p class="detail">已售150</p>
            <p class="detail">
                <span class="cube">干净</span>
                <span class="cube">9折</span>
                <span class="cube">服务到位</span>
            </p>
            <p class="detail detail-price"><strong>¥&nbsp;160.00</strong><i class="weui-icon-success" style="float: right; display: block;"></i></p>
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><img src="IMAGE_PATH/office3.jpg" alt="" style="width:100px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p class="house">惠普（HP）M1136 多功能三合一黑白激光一体机</p>
            <p class="detail">已售300</p>
            <p class="detail">
                <span class="cube">干净</span>
                <span class="cube">9折</span>
                <span class="cube">服务到位</span>
            </p>
            <p class="detail detail-price"><strong>¥&nbsp;1199.00</strong><i class="weui-icon-success" style="float: right; display: block;"></i></p>
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><img src="IMAGE_PATH/office1.jpg" alt="" style="width:100px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p class="house">得力（deli） 【公司开业文具包】得力品牌办公文具套装共17款</p>
            <p class="detail">已售200</p>
            <p class="detail">
                <span class="cube">干净</span>
                <span class="cube">9折</span>
                <span class="cube">服务到位</span>
            </p>
            <p class="detail detail-price"><strong>¥&nbsp;128.00</strong><i class="weui-icon-success" style="float: right; display: block;"></i></p>
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><img src="IMAGE_PATH/office2.jpg" alt="" style="width:100px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p class="house">吉丽（G-LEAF） 办公文具用品新进员工行政人员套装19款</p>
            <p class="detail">已售150</p>
            <p class="detail">
                <span class="cube">干净</span>
                <span class="cube">9折</span>
                <span class="cube">服务到位</span>
            </p>
            <p class="detail detail-price"><strong>¥&nbsp;160.00</strong><i class="weui-icon-success" style="float: right; display: block;"></i></p>
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><img src="IMAGE_PATH/office3.jpg" alt="" style="width:100px;margin-right:5px;display:block"></div>
        <div class="weui-cell__bd">
            <p class="house">惠普（HP）M1136 多功能三合一黑白激光一体机</p>
            <p class="detail">已售300</p>
            <p class="detail">
                <span class="cube">干净</span>
                <span class="cube">9折</span>
                <span class="cube">服务到位</span>
            </p>
            <p class="detail detail-price"><strong>¥&nbsp;200.00</strong><i class="weui-icon-success" style="float: right; display: block;"></i></p>
        </div>
    </a>
</div>
<div class="weui-tabbar" id="water-menu">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
      <div class="weui-tabbar__icon">
        <img src="IMAGE_PATH/icon_nav_button.png" alt="">
      </div>
      <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="IMAGE_PATH/icon_nav_msg.png" alt="">
      </div>
      <p class="weui-tabbar__label">购物车</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="IMAGE_PATH/icon_nav_cell.png" alt="">
      </div>
      <p class="weui-tabbar__label">管理中心</p>
    </a>
  </div>
<div class="script">
    <script type="text/javascript">
        $(".swiper-container").swiper({
            loop: true,
            autoplay: 3000
        });
    </script>
</div>